doctype html
html
  head
    block header
    link(rel='stylesheet', href='/stylesheets/semantic.css')
    script(src="/javascripts/jquery-1.11.1.js")
    script(src="/javascripts/semantic.js")
    script(src="/javascripts/avalon.js")
  body
    block content
    block footer